/* formato del header*/
* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #fff;
}

.header {
	background-color: #fff;
	font-size: 18px;
	display: flex;
	justify-content: space-evenly;
	border: #434343;
}

.header .logo {
	cursor:pointer;
}

.header .logo img {
	height: 40px;
	width: auto;
	transition: all 0.3s;
	background-color: #ff6d67;
}

.header .logo img:hover {
	transform: scale(1.2);
}

ul,
ol {
	list-style: none;
}

.nav>li {
	float: left;
}

.nav li a {
	background-color: #ff6d67;
	color: #fff;
	text-decoration: none;
	padding: 10px 12px;
	display: block;
}

.nav li a:hover {
	background-color: #434343;
}

.nav li ul {
	display: none;
	position: relative;
	min-width: 140px;
}

.nav li:hover>ul {
	display: block;
}

.nav li ul li {
	position: relative;
}

.nav li ul li ul {
	right: -140px;
	top: 0px;
}