*{
/*formato general*/
    font-family: sans-serif;
    color: #fff;    box-sizing: border-box; /*formato general*/
    margin: 0;
    padding: 2;
    font-family: sans-serif;
}
h1{font-size: 3.6em;}
h2{font-size: 2.7em;}
h3{font-size: 2.0em;}
h4{font-size: 1.5em;}
p{font-size: 1.2em;}
a{font-size: 1.2em;}

body{
    background-color: #fff;
}

#Quienes_Somos .container{
    text-align: justify;
    display: flex;
    background-color: #ff6d67;
    padding: 10px;
    margin-bottom: 350px;
}

#Quienes_Somos li{
    font-family: sans-serif;
}

/*footer*/
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 250px;
    padding: 0 15px;
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}



/*Socia Media*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover{
    opacity: 0.6;
}